.password{
  position: relative;
  margin-left: 25%;
}
.pass{
    border: 2px, solid,black;
    border-radius: 40px;
    text-align: center;
    margin-left: 28%;
    background-color: rgb(160, 158, 158);
    padding: 2px 4px;
    margin-top: 2%;
  }
  .pass1{
    border: 2px, solid,black;
    border-radius: 40px;
    text-align: center;
    margin-left: 26%;
    background-color: rgb(160, 158, 158);
    padding: 2px 4px;
    margin-top: 2%;
  }
.button{
  background-color: rgb(98, 98, 99);
  border-radius: 50%;
  position: absolute;
  right:286px;
  padding: 4px;
  top: 20.5px;
}
.button2{
  background-color: rgb(98, 98, 99);
  border-radius: 50%;
  position: absolute;
  right:283px;
  padding: 4px;
  top: 20px;
}
.button3{
  background-color: rgb(98, 98, 99);
  border-radius: 50%;
  position: absolute;
  right:280px;
  padding: 4px;
  top:20.5px;
}
.confirm{
  background-color: rgb(121, 120, 120);
  padding: 7px;
  border-radius: 12px;
  margin-left: 40%;
  margin-top: 8%;
  border: 1.5px, solid, black;
}