
.back{
    background-color: rgb(111, 110, 110);
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 8px;
    margin-left: 23%;
    border: 1px, solid,black;
    
}
.save{
    background-color: rgb(195, 34, 34);
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 8px;
    margin-left: 15%;
    border: 1px, solid,black;
}
.next{
        background-color: rgb(111, 110, 110);
        padding-top: 6px;
        padding-bottom: 6px;
        padding-left: 12px;
        padding-right: 12px;
        border-radius: 8px;
        margin-left: 15%;
        margin-top: -8px;
        border: 1px, solid,black;
}