.container {
  display: flex;
  color: white;
  margin-top: 39px;
}

.leftPanel {
  width: 40%;
  padding: 20px;
  background-color: #575353;
  border-right: 1px solid #575353;
  border-radius: 10px;
}

.leftPanel p{
  margin: 20px;
}

.rightPanel {
  width: 60%;
  padding: 15px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.studentCard {
  width: 20%;
  margin: 10px;
  padding: 6px 10px;
  background-color: #575353;
  border: 1px solid #575353;
  border-radius: 10px;
  cursor: pointer;
  text-align: center;
}

.studentImage {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  margin-left: 20px;
}

.studentImg {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: 10%;
  margin-left: 35%;
}



.removeButton {
  background-color: red;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  margin-top: 10px;
}

.blockButton{
  background-color: red;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  margin-top: 10px;
  margin-left: 60%;
}

.block_options {
  position: absolute;
  margin-left: 23%;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  top: 310px; /* Adjust this value to position above the button */
  right: 60%; /* Adjust left position as needed */
}

.block_options ul li button{
  border: none;
  background-color: #fff;
  color: grey;
  padding: 6px 10px;
  cursor: pointer;
}

.block_options ul li button:hover{
  background-color: rgb(243, 239, 239);
}

.othersButton {
  width: 100%;
  padding: 10px;
  background-color: gray;
  color: white;
  border: none;
  cursor: pointer;
}

/*-----------nav-------------*/

.navbar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 1px;
  color: white;
  
}

.searchContainer {
  flex: 0;
  margin-right: 100px;
  width: 90%;
}

.searchBar {
  width:700%;
  padding: 12px 30px;
  border: none;
  border-radius: 25px;
  
}

.controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: red;
  border-radius: 20px;
  width: 150px;
  margin-left: 260px;
  padding: 6px 20px;
  
}

.controlButton {
 
  background-color: red;
  color: white;
  border: none;
 
  cursor: pointer;
  font-size: 23px;
}

.timer {
  margin-left: 5px;
  margin-right: 10px;
  padding: 12px 20px;
  background-color: red;
  color: white;
  border-radius: 25px;
}
.othersButton{
  position: absolute; /* Position the button absolutely */
  top: 85%; /* Center vertically */
  left: 87%; /* Center horizontally */
  z-index: 10; /* Make sure it's above the content */
  width: 70px;
  border-radius: 50%;
  padding-right: 70px;
  padding-left: 30px;
  background-color: rgba(228, 8, 8, 0.9);
  color: white;
  border-radius: 25px;
}
.othersButton:hover{
  background-color: red;
}
